.animated .work-process-icon {opacity: 0;}
.animated .work-process-icon::before {right: 0%;-webkit-transition: all 1s ease;-o-transition: all 1s ease;transition: all 1s ease;opacity: 0;}
.animated .working-process-group .work-process-icon {-webkit-animation-duration: 1s;animation-duration: 1s;-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-name: bounceIns;animation-name: bounceIns;}
.animated .working-process-group .work-process-icon::before {right: -70%;opacity: .5;}
.animated .working-process-group [class^="col-"]:nth-of-type(2) .work-process-icon {-webkit-animation-delay: .5s;animation-delay: .5s;}
.animated .working-process-group [class^="col-"]:nth-of-type(2) .work-process-icon::before {-webkit-transition-delay: .4s;-o-transition-delay: .4s;transition-delay: .4s;}
.animated .working-process-group [class^="col-"]:nth-of-type(3) .work-process-icon {-webkit-animation-delay: .7s;animation-delay: .7s;}
.animated .working-process-group [class^="col-"]:nth-of-type(3) .work-process-icon::before {-webkit-transition-delay: .6s;-o-transition-delay: .6s;transition-delay: .6s;}
.animated .working-process-group [class^="col-"]:last-child .work-process-icon {-webkit-animation-delay: .9s;animation-delay: .9s;}
.animated .working-process-group [class^="col-"]:last-child .work-process-icon::before {-webkit-transition-delay: .8s;-o-transition-delay: .8s;transition-delay: .8s;}
@-webkit-keyframes bounceIns {from, 20%, 40%, 60%, 80%, to {-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);animation-timing-function: cubic-bezier(.215,.61,.355,1);}
	0% {opacity: 0;-webkit-transform: scale3d(.3,.3,.3);transform: scale3d(.3,.3,.3);}
	20% {-webkit-transform: scale3d(1.1,1.1,1.1);transform: scale3d(1.1,1.1,1.1);}
	40% {-webkit-transform: scale3d(.9,.9,.9);transform: scale3d(.9,.9,.9);}
	60% {opacity: 1;-webkit-transform: scale3d(1.03,1.03,1.03);transform: scale3d(1.03,1.03,1.03);}
	80% {-webkit-transform: scale3d(.97,.97,.97);transform: scale3d(.97,.97,.97);}
	to {opacity: 1;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}}
@keyframes bounceIns {from, 20%, 40%, 60%, 80%, to {-webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);animation-timing-function: cubic-bezier(.215,.61,.355,1);}
	0% {opacity: 0;-webkit-transform: scale3d(.3,.3,.3);transform: scale3d(.3,.3,.3);}
	20% {-webkit-transform: scale3d(1.1,1.1,1.1);transform: scale3d(1.1,1.1,1.1);}
	40% {-webkit-transform: scale3d(.9,.9,.9);transform: scale3d(.9,.9,.9);}
	60% {opacity: 1;-webkit-transform: scale3d(1.03,1.03,1.03);transform: scale3d(1.03,1.03,1.03);}
	80% {-webkit-transform: scale3d(.97,.97,.97);transform: scale3d(.97,.97,.97);}
	to {opacity: 1;-webkit-transform: scale3d(1,1,1);transform: scale3d(1,1,1);}}