body {overflow-x: hidden;color: #5a5a5a;-webkit-font-smoothing: antialiased !important;}
.alignwide, .alignwide {margin-left: auto;margin-right: auto;clear: both;}
@media only screen and (min-width: 768px) {.alignwide, .alignwide {width: 100%;max-width: 100%;}}
@media only screen and (min-width: 768px) {.entry-content > *, .entry .entry-summary > * {margin-top: 32px;margin-bottom: 32px;}}
ul, li {list-style-position: inside;}
.alignleft, .alignleft {float: left;max-width: calc(5 * ( 100vw / 12 ));margin-top: 0;margin-left: 0;margin-right: 1rem;}
@media only screen and (min-width: 768px) {.alignleft, .alignleft {max-width: calc(4 * ( 100vw / 12 ));margin-right: calc(2 * 1rem);}}
.alignright, .alignright {float: right;max-width: calc(5 * ( 100vw / 12 ));margin-top: 0;margin-right: 0;margin-left: 1rem;}
@media only screen and (min-width: 768px) {.alignright, .alignright {max-width: calc(4 * ( 100vw / 12 ));margin-right: 0;margin-left: calc(2 * 1rem);}}
.aligncenter, .aligncenter {margin-left: auto;margin-right: auto;}
.sidebar-inactive #content .container {max-width: 80%;}
.sidebar-inactive .alignfull, .alignfull, .alignfull, .blockquote.wp-block-pullquote.alignfull, .wp-block-pullquote:not(.is-style-solid-color).alignfull {width: 100vw;margin-left: -50vw;margin-right: -50vw;position: relative;left: 50%;right: 50%;max-width: initial;border-left: 0;padding-left: 0;padding-right: 0;}
.alignfull > img, .alignwide > img {max-width: none;width: 100%;}
figure, .wp-caption, .wp-caption-overlay .wp-caption {border: 0;margin: 0;padding: 0;overflow: hidden;position: relative;max-width: 100%;}
.sidebar-inactive .alignfull blockquote {padding: 40px;}
.sidebar-inactive .alignfull.wp-block-cover-image.has-background-dim {padding: 40px;}
.sidebar-inactive  figure.wp-block-image.alignleft.is-resized, .wp-block-image .alignleft {margin-right: 30px;margin-bottom: 70px;}
.sidebar-inactive  figure.wp-block-image.alignright.is-resized, .wp-block-image .alignright {margin-left: 30px;}
.sidebar-inactive #content .container {max-width: 80%;}
p.has-background {padding: 20px 30px;}
.wp-block-audio {width: 100%;}
.wp-block-audio audio {width: 100%;}
.wp-block-audio.alignleft audio, .wp-block-audio.alignright audio {max-width: 198px;}
@media only screen and (min-width: 768px) {.wp-block-audio.alignleft audio, .wp-block-audio.alignright audio {max-width: 384px;}}
@media only screen and (min-width: 1379px) {.wp-block-audio.alignleft audio, .wp-block-audio.alignright audio {max-width: 385.44px;}}
.wp-block-video video {width: 100%;}
.wp-block-embed-vimeo .wp-block-embed__wrapper {text-align: center;}
.wp-block-button .wp-block-button__link {transition: background 150ms ease-in-out;border: none;font-size: .88889em;line-height: 1.2;box-sizing: border-box;font-weight: bold;text-decoration: none;padding: .76rem 1rem;outline: none;outline: none;}
.wp-block-button .wp-block-button__link:not(.has-background) {font-size: 16px;font-weight: 700;color: #fff;text-transform: uppercase;background: #0c5adb;height: 50px;padding: 0 35px;line-height: 50px;border-radius: 3px;border: 0;}
.wp-block-button .wp-block-button__link:not(.has-text-color) {color: white;}
.wp-block-button .wp-block-button__link:hover {color: white;background: #00138e;cursor: pointer;}
.wp-block-button .wp-block-button__link:focus {color: white;background: #00138e;outline: thin dotted;outline-offset: -4px;}
.wp-block-button:not(.is-style-squared) .wp-block-button__link {}
.wp-block-button.is-style-outline .wp-block-button__link, .wp-block-button.is-style-outline .wp-block-button__link:focus, .wp-block-button.is-style-outline .wp-block-button__link:active {transition: all 150ms ease-in-out;border-width: 2px;border-style: solid;}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-background), .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-background), .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-background) {background: transparent;}
.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-text-color), .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-text-color) {color: #0c5adb;border-color: currentColor;}
.wp-block-button.is-style-outline .wp-block-button__link:hover {color: #00138e;border-color: #00138e;}
.wp-block-archives, .wp-block-categories, .wp-block-latest-posts {list-style-position: outside;}
.wp-block-latest-posts.has-dates {list-style: none;}
.wp-block-latest-posts__post-date {margin-top: 5px;}
.wp-block-archives li, .wp-block-categories li, .wp-block-latest-posts li {font-weight: 500;line-height: 1.2;padding-bottom: .75rem;}
.wp-block-archives li.menu-item-has-children, .wp-block-archives li:last-child, .wp-block-categories li.menu-item-has-children, .wp-block-categories li:last-child, .wp-block-latest-posts li.menu-item-has-children, .wp-block-latest-posts li:last-child {padding-bottom: 0;}
.wp-block-archives li a, .wp-block-categories li a, .wp-block-latest-posts li a {text-decoration: none;}
.wp-block-archives.aligncenter, .wp-block-categories.aligncenter {text-align: center;list-style-position: inside;}
.wp-block-categories ul {padding-top: .75rem;}
.wp-block-categories li ul {list-style-position: outside;}
.wp-block-categories ul {counter-reset: submenu;}
.wp-block-latest-posts.is-grid li {border-top: 2px solid #ccc;padding-top: 1rem;margin-bottom: 2rem;}
.wp-block-latest-posts.is-grid li a:after {content: "";}
.wp-block-latest-posts.is-grid li:last-child {margin-bottom: auto;}
.wp-block-latest-posts.is-grid li:last-child a:after {content: "";}
.wp-block-preformatted {line-height: 1.8;padding: 1rem;}
.wp-block-verse {font-size: 22px;line-height: 1.8;}
.has-drop-cap:not(:focus):first-letter {font-size: 3.375em;line-height: 1;font-weight: bold;margin: 0 .25em 0 0;}
.wp-block-pullquote {border-color: transparent;border-width: 2px;padding: 0;}
.wp-block-pullquote p {font-size: 1.6875em;font-style: italic;line-height: 1.3;margin-bottom: 20px;margin-top: .5em;}
.wp-block-pullquote p em {font-style: normal;}
@media only screen and (min-width: 768px) {.wp-block-pullquote p {font-size: 1.75rem;}}
.wp-block-pullquote.alignleft, .wp-block-pullquote.alignright {width: 100%;margin-top: 80px;margin-bottom: 70px;}
.wp-block-pullquote.alignleft blockquote, .wp-block-pullquote.alignright blockquote {margin: 1rem 0;max-width: 100%;}
.wp-block-pullquote.alignleft {text-align: left;margin-right: 30px !important;}
.wp-block-pullquote.alignright {text-align: right;margin-left: 30px !important;}
.wp-block-pullquote.alignleft blockquote p:first-child, .wp-block-pullquote.alignright blockquote p:first-child {margin-top: 0;}
.wp-block-pullquote.is-style-solid-color {padding-left: 0;padding-right: 0;}
@media only screen and (min-width: 768px) {.wp-block-pullquote.is-style-solid-color {padding-left: 10%;padding-right: 10%;}}
.wp-block-pullquote.is-style-solid-color p, .wp-block-pullquote.is-style-solid-color blockquote p {font-size: 1.6875em;line-height: 1.3;margin-bottom: .5em;margin-top: .5em;}
@media only screen and (min-width: 768px) {.wp-block-pullquote.is-style-solid-color p {font-size: 2.25em;}}
.wp-block-pullquote.is-style-solid-color a {color: #fff;}
.wp-block-pullquote.is-style-solid-color cite {color: inherit;}
.wp-block-pullquote.is-style-solid-color blockquote {max-width: 100%;padding-left: 0;margin-left: 1rem;margin-right: 1rem;}
@media only screen and (min-width: 768px) {.wp-block-pullquote.is-style-solid-color blockquote {margin-left: 0;margin-right: 0;padding: 20px 0 20px 20px;color: #000;}}
@media only screen and (min-width: 768px) {.wp-block-pullquote.is-style-solid-color.alignright, .wp-block-pullquote.is-style-solid-color.alignleft {padding: 1rem calc(2 * 1rem);}}
@media only screen and (min-width: 768px) {.wp-block-pullquote.is-style-solid-color.alignfull {padding-left: calc(10% + 58px + ( 2 * 1rem ));padding-right: calc(10% + 58px + ( 2 * 1rem ));}}
blockquote.wp-block-quote, blockquote.wp-block-quote.is-large {padding: 30px 30px 40px 40px;}
blockquote, blockquote.wp-block-quote, .wp-block-quote, .wp-block-quote:not(.is-large):not(.is-style-large), blockquote.wp-block-pullquote, .wp-block-quote.is-large, .wp-block-quote.is-style-large, .wp-block-pullquote:not(.is-style-solid-color) {padding: 0;padding-left: 40px;border-left: 3px solid #1464db;margin: 15px 0;background: transparent;position: relative;color: #000;font-style: italic;}
.wp-block-quote .editor-rich-text__tinymce {color: #000;}
.editor-block-list__block .wp-block-pullquote blockquote, .wp-block-pullquote blockquote {border-left: 0;padding-left: 0;}
blockquote.wp-block-quote p, .wp-block-quote p {margin: 0 0 20px 0;line-height: 1.625;}
.wp-block-quote:before {content: "";font-family: "Fontawesome";display: block;color: #1464db;font-size: 36px;}
.wp-block-quote cite, .wp-block-pullquote cite, blockquote.wp-block-quote .wp-block-quote__citation {font-weight: normal;font-size: 16px;margin-left: 40px;text-transform: unset;display: inline-block;color: #000;line-height: 22px;}
b, strong {color: #000;}
.wp-block-quote__citation, .wp-block-quote cite, .wp-block-quote footer {position: relative;font-style: normal;}
blockquote.wp-block-quote cite::before, blockquote.wp-block-quote footer::before, blockquote.wp-block-quote .wp-block-quote__citation::before, .wp-block-quote cite::before, .wp-block-pullquote cite::before {position: absolute;top: 0;width: 30px;height: 2px;background: #1464db;content: "";bottom: 0;margin: 10px 0 13px -40px;}
.wp-block-quote .blockquote-footer {margin-left: 40px;}
.wp-block-quote.is-large, .wp-block-quote.is-style-large {margin: 1rem 0;}
.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {font-size: 1.6875em;line-height: 1.4;font-style: italic;}
.wp-block-quote.is-large cite, .wp-block-quote.is-large footer, .wp-block-quote.is-style-large cite, .wp-block-quote.is-style-large footer {font-size: 16px;text-align: left;}
.wp-block-quote.is-style-large cite em {display: block;position: relative;top: -30px;}
@media only screen and (min-width: 768px) {.wp-block-quote.is-large, .wp-block-quote.is-style-large {margin: 1rem 0;}
	.wp-block-quote.is-large p, .wp-block-quote.is-style-large p {font-size: 1.6875em;}}
.wp-block-pullquote blockquote::before {content: "";font-family: "Fontawesome";position: relative;display: block;color: #0c5adb;font-size: 36px;}
.wp-block-pullquote .has-very-dark-gray-color.has-very-dark-gray-color {background: none;}
.wp-block-image img {display: block;}
.wp-block-image.alignleft, .wp-block-image.alignright {max-width: 100%;}
.wp-block-image.alignfull img {width: 100vw;max-width: 100%;}
@media only screen and (min-width: 768px) {.wp-block-image.alignfull img {margin-left: auto;margin-right: auto;}}
.wp-block-cover-image, .wp-block-cover {position: relative;min-height: 430px;padding: 1rem;}
@media only screen and (min-width: 768px) {.wp-block-cover-image, .wp-block-cover {padding: 1rem 10%;}}
.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2, .wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text, .wp-block-cover h2, .wp-block-paragraph.has-large-font-size.editor-rich-text__editable, .wp-block-cover__inner-container p.has-large-font-size {font-size: 36px;font-weight: bold;line-height: 1.25;padding: 0;color: #fff;}
@media only screen and (min-width: 768px) {.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2, .wp-block-cover .wp-block-cover-image-text, .wp-block-cover p.wp-block-cover-text, .wp-block-cover h2 {font-size: 36px;max-width: 100%;}}
.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright, .wp-block-cover.alignleft, .wp-block-cover.alignright {width: 100%;}
@media only screen and (min-width: 768px) {.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright, .wp-block-cover.alignleft, .wp-block-cover.alignright {padding: 1rem calc(2 * 1rem);}}
.wp-block-cover-image.alignleft, .wp-block-cover-image.alignright, .wp-block-cover.alignleft, .wp-block-cover.alignright {padding: 0;}
@media only screen and (min-width: 768px) {.wp-block-cover-image.alignfull .wp-block-cover-image-text, .wp-block-cover-image.alignfull .wp-block-cover-text, .wp-block-cover-image.alignfull h2, .wp-block-cover.alignfull .wp-block-cover-image-text, .wp-block-cover.alignfull .wp-block-cover-text, .wp-block-cover.alignfull h2 {max-width: calc(8 * ( 100vw / 12 ) - 28px);}}
@media only screen and (min-width: 1168px) {.wp-block-cover-image.alignfull .wp-block-cover-image-text, .wp-block-cover-image.alignfull .wp-block-cover-text, .wp-block-cover-image.alignfull h2, .wp-block-cover.alignfull .wp-block-cover-image-text, .wp-block-cover.alignfull .wp-block-cover-text, .wp-block-cover.alignfull h2 {max-width: calc(6 * ( 100vw / 12 ) - 28px);}}
.wp-block-gallery {list-style-type: none;padding-left: 0;}
.wp-block-gallery .blocks-gallery-image:last-child, .wp-block-gallery .blocks-gallery-item:last-child {margin-bottom: 16px;}
.wp-block-gallery figcaption a {color: #fff;}
.wp-block-audio figcaption, .wp-block-video figcaption, .wp-block-image figcaption, .wp-block-gallery .blocks-gallery-image figcaption, .wp-block-gallery .blocks-gallery-item figcaption {font-size: .71111em;line-height: 1.6;margin: 0;padding: .5rem;text-align: center;bottom: 0;}
.wp-block-file .wp-block-file__button {display: table;transition: background 150ms ease-in-out;border: none;border-radius: 5px;background: #0c5adb;font-size: 22px;line-height: 1.2;text-decoration: none;font-weight: bold;padding: .75rem 1rem;color: #fff;margin-left: 0;margin-top: calc(.75 * 1rem);}
@media only screen and (min-width: 1168px) {.wp-block-file .wp-block-file__button {font-size: 22px;padding: .875rem 1.5rem;}}
.wp-block-file .wp-block-file__button:hover {background: #00138e;cursor: pointer;}
.wp-block-file .wp-block-file__button:focus {background: #00138e;outline: thin dotted;outline-offset: -4px;}
.wp-block-code {border-radius: 0;}
.wp-block-code code {font-size: 1.125em;white-space: pre-wrap;word-break: break-word;}
.wp-block-columns.alignfull {padding-left: 1rem;padding-right: 1rem;}
@media (min-width: 1128px) {.wp-block-column {padding-right: 24px;padding-left: 24px;}}
@media only screen and (min-width: 600px) {.wp-block-columns {flex-wrap: nowrap;}}
@media only screen and (min-width: 768px) {.wp-block-columns .wp-block-column > *:first-child {margin-top: 0;}
	.wp-block-columns .wp-block-column > *:last-child {margin-bottom: 0;}
	.wp-block-columns[class*='has-'] > * {margin-right: 1rem;}
	.wp-block-columns[class*='has-'] > *:last-child {margin-right: 0;}
	.wp-block-columns.alignfull, .wp-block-columns.alignfull .wp-block-column {padding-left: calc(2 * 1rem);padding-right: calc(2 * 1rem);}}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta {font-weight: bold;}
.wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {font-weight: normal;}
.wp-block-latest-comments .wp-block-latest-comments__comment, .wp-block-latest-comments .wp-block-latest-comments__comment-date, .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {font-size: inherit;}
.wp-block-latest-comments.has-dates .wp-block-latest-comments__comment-date {font-size: .71111em;}
.has-small-font-size {font-size: .88889em;}
.has-normal-font-size {font-size: 1.125em;}
.has-large-font-size {font-size: 36px;}
.has-huge-font-size {font-size: 2.25em;}
.has-primary-background-color, .has-secondary-background-color, .has-dark-gray-background-color, .has-light-gray-background-color {color: #fff;}
.has-primary-background-color p, .has-primary-background-color h1, .has-primary-background-color h2, .has-primary-background-color h3, .has-primary-background-color h4, .has-primary-background-color h5, .has-primary-background-color h6, .has-primary-background-color a, .has-secondary-background-color p, .has-secondary-background-color h1, .has-secondary-background-color h2, .has-secondary-background-color h3, .has-secondary-background-color h4, .has-secondary-background-color h5, .has-secondary-background-color h6, .has-secondary-background-color a, .has-dark-gray-background-color p, .has-dark-gray-background-color h1, .has-dark-gray-background-color h2, .has-dark-gray-background-color h3, .has-dark-gray-background-color h4, .has-dark-gray-background-color h5, .has-dark-gray-background-color h6, .has-dark-gray-background-color a, .has-light-gray-background-color p, .has-light-gray-background-color h1, .has-light-gray-background-color h2, .has-light-gray-background-color h3, .has-light-gray-background-color h4, .has-light-gray-background-color h5, .has-light-gray-background-color h6, .has-light-gray-background-color a {color: #fff;}
.has-white-background-color {color: #00138e;}
.has-white-background-color p, .has-white-background-color h1, .has-white-background-color h2, .has-white-background-color h3, .has-white-background-color h4, .has-white-background-color h5, .has-white-background-color h6, .has-white-background-color a {color: #00138e;}
.has-primary-background-color, .wp-block-pullquote.is-style-solid-color.has-primary-background-color {background-color: #0c5adb;}
.has-secondary-background-color, .wp-block-pullquote.is-style-solid-color.has-secondary-background-color {background-color: #005177;}
.has-dark-gray-background-color, .wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {background-color: #00138e;}
.has-light-gray-background-color, .wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {background-color: #767676;}
.has-white-background-color, .wp-block-pullquote.is-style-solid-color.has-white-background-color {background-color: #fff;}
.has-primary-color, .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color, .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color p {color: #0c5adb;}
.has-secondary-color, .wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color, .wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color p {color: #005177;}
.has-dark-gray-color, .wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color, .wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color p {color: #00138e;}
.has-light-gray-color, .wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color, .wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color p {color: #767676;}
.has-white-color, .wp-block-pullquote.is-style-solid-color blockquote.has-white-color {color: #fff;}
.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
embed, iframe, object {max-width: 100%;}
.custom-logo-link {display: inline-block;}
.avatar {border-radius: 100%;display: block;height: calc(2.25 * 1rem);min-height: inherit;width: calc(2.25 * 1rem);}
svg {transition: fill 120ms ease-in-out;fill: currentColor;}
.wp-caption {margin-bottom: calc(1.5 * 1rem);}
.wp-caption img[class*="wp-image-"] {display: block;margin-left: auto;margin-right: auto;}
.wp-caption-text {color: #767676;font-size: .81111em;line-height: 1.6;margin: 0;padding: .5rem;text-align: center;}
.gallery {display: flex;flex-flow: row wrap;justify-content: center;margin-bottom: calc(1.5 * 1rem);}
.gallery-item {display: inline-block;margin-right: 16px;margin-bottom: 16px;text-align: center;vertical-align: top;width: 100%;}
.gallery-columns-2 .gallery-item {max-width: calc(( 100% - 16px * 1 ) / 2);}
.gallery-columns-2 .gallery-item:nth-of-type(2n+2) {margin-right: 0;}
.gallery-columns-3 .gallery-item {max-width: calc(( 100% - 16px * 2 ) / 3);}
.gallery-columns-3 .gallery-item:nth-of-type(3n+3) {margin-right: 0;}
.gallery-columns-4 .gallery-item {max-width: calc(( 100% - 16px * 3 ) / 4);}
.gallery-columns-4 .gallery-item:nth-of-type(4n+4) {margin-right: 0;}
.gallery-columns-5 .gallery-item {max-width: calc(( 100% - 16px * 4 ) / 5);}
.gallery-columns-5 .gallery-item:nth-of-type(5n+5) {margin-right: 0;}
.gallery-columns-6 .gallery-item {max-width: calc(( 100% - 16px * 5 ) / 6);}
.gallery-columns-6 .gallery-item:nth-of-type(6n+6) {margin-right: 0;}
.gallery-columns-7 .gallery-item {max-width: calc(( 100% - 16px * 6 ) / 7);}
.gallery-columns-7 .gallery-item:nth-of-type(7n+7) {margin-right: 0;}
.gallery-columns-8 .gallery-item {max-width: calc(( 100% - 16px * 7 ) / 8);}
.gallery-columns-8 .gallery-item:nth-of-type(8n+8) {margin-right: 0;}
.gallery-columns-9 .gallery-item {max-width: calc(( 100% - 16px * 8 ) / 9);}
.gallery-columns-9 .gallery-item:nth-of-type(9n+9) {margin-right: 0;}
.gallery-item:last-of-type {padding-right: 0;}
.gallery-caption {display: block;font-size: .71111em;line-height: 1.6;margin: 0;padding: .5rem;}
.gallery-item>div>a {line-height: 0;box-shadow: 0 0 0 0 transparent;}
.gallery-item>div>a:focus {box-shadow: 0 0 0 2px #0073aa;}
@media only screen and (max-width: 991px) {.sidebar-inactive .is-type-video, .sidebar-active .is-type-video {left: 0;width: 100%;max-width: 100%;}
	.is-type-video iframe {height: 100%;}
	.wp-block-separator.is-style-dots:before, hr.is-style-dots:before {font-size: .3875em;}
	.wp-block-pullquote p {font-size: 1em;}}
.wp-block-separator, hr {background-color: #767676;border: 0;height: 2px;margin: 2rem auto;max-width: 200px;text-align: center;}
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {max-width: 100px;}
.wp-block-separator.is-style-wide, hr.is-style-wide {max-width: 100%;}
@media only screen and (min-width: 768px) {.wp-block-separator.is-style-wide, hr.is-style-wide {max-width: calc(8 * ( 100vw / 12 ) - 28px);}}
@media only screen and (min-width: 1168px) {.wp-block-separator.is-style-wide, hr.is-style-wide {max-width: calc(6 * ( 100vw / 12 ) - 28px);}}
.wp-block-separator.is-style-dots, hr.is-style-dots {max-width: 100%;background-color: inherit;border: inherit;height: inherit;text-align: center;}
@media only screen and (min-width: 768px) {.wp-block-separator.is-style-dots, hr.is-style-dots {max-width: calc(8 * ( 100vw / 12 ) - 28px);}}
@media only screen and (min-width: 1168px) {.wp-block-separator.is-style-dots, hr.is-style-dots {max-width: calc(6 * ( 100vw / 12 ) - 28px);}}
.wp-block-separator.is-style-dots:before, hr.is-style-dots:before {color: #767676;font-size: 1.6875em;letter-spacing: .88889em;padding-left: .88889em;}
.wp-block-separator + h1:before, .wp-block-separator + h2:before, hr + h1:before, hr + h2:before {display: none;}
.wp-block-table td, .wp-block-table th {border: 1px solid #ededed;}
.wp-block-table {border: 0;border-bottom: 1px solid #ededed;border-left: 1px solid #ededed;text-align: center;}
table.wp-block-table>tbody>tr:nth-child(2n+1)>td {background-color: #fcfcfc;}
table.wp-block-table>tbody>tr>td {padding: 10px 5px;border-bottom: 0;border-left: 0;}
.wp-block-embed__wrapper iframe {border: 0;}
.wp-block-cover.has-background-dim-60.has-background-dim a {text-decoration: underline;color: #ffb923;}
.wp-block-embed-vimeo iframe {border: 0;}
.block-editor-block-list__layout  figure.wp-block-embed-vimeo.alignfull {width: auto;}
.wp-block-pullquote.is-style-default {background: none;border-left: 0;}
.wp-block-image.alignfull {padding-left: 0;padding-right: 0;}
.wp-block-embed-vimeo .wp-block-embed__wrapper {position: relative;padding-bottom: 56.25%;padding-top: 0;height: 0;overflow: hidden;}
.wp-block-embed-vimeo .wp-block-embed__wrapper iframe {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}