@media (max-width: 1200px) {.post-list .post-body .entry-meta .post-date {display: none;}}
@media (min-width: 992px) and (max-width: 1199px) {:root {font-size: 14px;}
	.xs-menu-tools>li {margin-right: 18px;}
	.nav-sticky.sticky-header .xs-header .xs-menus .nav-menu > li > a, .xs-header .xs-menus .nav-menu > li > a {padding: 44px 0px;font-size: .9rem;}
	.xs-header.header-new .xs-menus .nav-menu > li > a {padding: 32px 0px;}
	.xs-header .xs-menus .nav-menu > li:not(:last-child) {margin-right: 10px;padding-right: 10px;}
	.single-page-menu.nav-menu > li > a {color: #fff;font-size: .8rem;}
	.nav-sticky .xs-header.header-main .xs-menus .nav-menu.single-page-menu > li:not(:last-child) {margin-right: 10px;padding-right: 10px;}
	.why-choose-us-block {padding: 0 15px;}
	.work-process-icon::before, .work-process-icon::after {display: none;}
	.case-about-area .about-info {width: 100%;}
	.inner-banner-area + .case-about-area .case-about-img {margin-top: -217px;}
	.doodle-parallax {display: none;}
	.call-to-action-content {padding-right: 0;}
	.pricing-style2 .xs-single-pricing {padding: 30px;}
	.pricing-style2 .price-table sub {font-size: 1rem;right: -1px;}
	.pricing-style2 .xs-single-pricing .price-table {font-size: 1.4rem;}
	.pricing-style2 .pricing-body .xs-list li {font-size: .9rem;}
	.widget-posts .widget-post .media-body {margin-top: 0;}
	.xs-logo-wraper>.header-info:not(:last-child) {padding-right: 10px;margin-right: 10px;}}
@media (max-width: 992px) {.admin-bar .xs_nav-portrait .nav-menus-wrapper.nav-menus-wrapper-open {top: 32px;}}
@media (max-width: 782px) {.admin-bar .xs_nav-portrait .nav-menus-wrapper.nav-menus-wrapper-open {top: 48px;}
	.section-wraper {overflow: hidden;}}
@media (max-width: 991px) {.xs-menus {height: 100%;}
	.xs-menus .nav-header {margin-top: 0px;height: 100%;}
	.xs-menus .nav-brand {padding: 0;min-height: 84px;display: inline-block;height: 84px;}
	.header-new .nav-menus-wrapper>.nav-menu {padding-right: 0px;}
	.header-new .xs-menus .nav-menu>li:not(:last-child) {margin-right: 0px;}
	.header-new .nav-menus-wrapper .nav-btn {padding: 17px;}
	.elementor-row .row {margin-right: 0;margin-left: 0;}
	blockquote {padding: 20px;}
	blockquote::before {font-size: 3rem;}
	blockquote > p {padding-left: 60px;}
	.xs-menu-tools {display: none;}
	.xs-header.header-main .xs-logo {padding: 9px 0;max-height: initial;}
	.why-choose-us-block, .xs-info-img, .single-work-process, .single-case-studies, .xs-single-pricing, .single-blog-post-thumb, .xs-info-wraper.style2, .single-box, .case-study-step, .accordion-wraper, .rate-detail, .demo-content p, .demo-content .xs-list, .service-info-block {margin-bottom: 30px;}
	.footer-widget {margin-bottom: 50px;}
	.service-info-block-area .btn-wraper .btn {margin-bottom: 20px;}
	.xs-logo-wraper {display: none;}
	.nav-header {float: left;}
	.xs-menus {height: 80px;}
	.align-to-right, .nav-sticky .nav-header {float: none;}
	.xs-header .navSidebar-wraper {display: none;}
	.xs-header.header-main .xs-menu-tools {padding: 30px 0;text-align: right;}
	.xs-header.header-main .navSidebar-wraper {right: 15px;bottom: 0;}
	.xs-header.header-main .xs-menus .nav-menu > li {margin: 0;}
	.xs-header.header-main .xs-menus .nav-menu > li:not(:last-child)::before {display: none;}
	.xs-header.header-main .xs-menus .nav-menu > li > a, .nav-sticky.sticky-header .xs-header .xs-menus .nav-menu > li > a, .header-new .xs-menus .nav-menu>li>a {padding: 15px;}
	.header-new .nav-menus-wrapper>.nav-menu {padding-right: 0px;}
	.nav-sticky .nav-brand .logo-sticky {display: none;}
	.nav-sticky.sticky-header .nav-brand > img:not(.logo-sticky) {display: none;}
	.nav-sticky.sticky-header .nav-brand > .logo-sticky {display: block;}
	.nav-brand > img {margin-top: 13px;}
	.sticky .nav-brand img {display: none;}
	.sticky .nav-brand img.logo-sticky {margin-top: 0;display: inline-block;}
	.xs-header.header-main .xs-menus .nav-menu > li > a::before {display: none;}
	.xs-menus .nav-menu > li > a .submenu-indicator-chevron {border-color: transparent #00138e #00138e transparent;}
	.xs-menus .nav-menu li > .nav-submenu {-webkit-box-shadow: none;box-shadow: none;border-radius: 0px;}
	.xs-menus .nav-menu .xs-icon-menu {padding: 0 30px;}
	.xs-menus .nav-menu .xs-icon-menu .single-menu-item:not(:last-child) a {padding-bottom: 20px;border-bottom: 1px solid #f7f7f7;padding-top: 20px;}
	.xs-menus .nav-menu .xs-icon-menu .single-menu-item:not(:first-child) a {padding-top: 20px;padding-bottom: 20px;border-bottom: 1px solid #f7f7f7;}
	.xs-menus .nav-menu ul.xs-icon-menu .single-menu-item:last-child a {border-bottom: 0px;}
	.nav-sticky .xs_nav-portrait .nav-menus-wrapper, .nav-sticky .nav-overlay-panel {height: calc(100vh + 500px);}
	.header-transparent .xs-header.header-main .xs-menus .nav-menu > li > a {color: #333;}
	.header-transparent .nav-toggle:before {background-color: #fff;-webkit-box-shadow: 0 .5em 0 0 #fff,0 1em 0 0 #fff;box-shadow: 0 .5em 0 0 #fff,0 1em 0 0 #fff;}
	.nav-sticky.sticky-header .nav-toggle:before {background-color: #333;-webkit-box-shadow: 0 .5em 0 0 #333,0 1em 0 0 #333;box-shadow: 0 .5em 0 0 #333,0 1em 0 0 #333;}
	.banner-image.image-two {margin-left: 0;margin-bottom: 30px;}
	.banner-image.image-one {margin-right: 0;margin-left: 0;margin-top: 30px;}
	.banner-image.image-three {margin-right: 0;margin-top: 30px;}
	.single-banner-slide.slide-two .xs-banner-content {padding-left: 0;}
	.banner-title {font-size: 2.7333333333rem;}
	.parallax-icon {display: none;}
	.xs-inline-form .row::before {display: none;}
	.xs-inline-form {display: block;}
	.xs-inline-form .form-control {padding-left: 20px;margin-bottom: 10px;border-radius: 0px;}
	.xs-inline-form .check-btn {border-radius: 0;}
	.work-process-icon::before, .work-process-icon::after {display: none;}
	.xs-info-img {text-align: center;}
	.footer-logo {margin-bottom: 20px;}
	.address-info-list {text-align: left;}
	.address-info-list li:not(:last-child) {margin-right: 10px;margin-bottom: 15px;}
	.address-info-list li .address-icon {min-width: 56px;}
	.partner-area .xs-lsit li:not(:last-child) {margin-bottom: 10px;}
	.partner-area .xs-lsit {margin-bottom: 20px;}
	.xs-list > li:not(:last-child) {margin-right: 20px;margin-bottom: 20px;}
	.xs-top-bar .xs-list > li:not(:last-child) {margin-bottom: 0;}
	.copyright-text {margin-bottom: 20px;}
	.address-info-list li a {font-size: .9rem;}
	.case-about-area .about-info {width: 100%;}
	.inner-banner-area + .case-about-area .case-about-img {margin-top: -100px;}
	.doodle-parallax {display: none;}
	.project-brief-wraper .xs-list {margin-bottom: 30px;}
	.case-study-step-wraper > .row:not(:last-child) {padding-bottom: 50px;margin-bottom: 50px;}
	.single-contact-info {margin-bottom: 30px;}
	.faqAccordion .btn-link:after {position: absolute;right: 30px;top: calc(50% - 12px);}
	.blog-inner-page {margin-bottom: 50px;}
	.blog-post-lists + .pagination {margin-bottom: 50px;}
	.xs-banner.banner-v2 .single-banner-slide {min-height: 560px;background-size: cover;}
	.service-info-section .xs-heading .section-title {font-size: 2.2rem;}
	.service-summary-text {padding-left: 0px;}
	.service-info-img, .service-summary-img {text-align: center;margin-bottom: 30px;}
	.service-info-wraper > [class^="col-"]:not(:last-child) {-webkit-box-ordinal-group: 2;-ms-flex-order: 1;order: 1;}
	.service-info-section .section-padding-small-bottom, .our-security-section .section-padding-small-bottom, .boosting-section .section-padding-small-bottom {padding-bottom: 15px;}
	.banner-slider .banner-image {width: 80%;margin-left: auto;margin-right: auto;}
	.main-tabs .nav-item .nav-link {padding: 27px 1px 26px;font-size: .8rem;}
	.main-tabs .nav-item:not(:last-child) {margin-right: 15px;}
	.main-tabs .nav-item {width: calc(calc(100% / 5) - 14px);}
	.service-preview-content {padding-left: 0;}
	.header-tranparent-style2 .xs-menus .nav-toggle::before {background-color: #333;-webkit-box-shadow: 0 .5em 0 0 #333,0 1em 0 0 #333;box-shadow: 0 .5em 0 0 #333,0 1em 0 0 #333;}
	.header-tranparent-style2.sticky-header .xs-header .nav-brand > img {margin-top: 0px;}
	.header-tranparent-style2 .xs-header .nav-brand > img {margin-top: 13px;}
	.xs-header.header-main .xs-menus .nav-menu > li > a .submenu-indicator-chevron {border-color: transparent #333 #333 transparent !important;}
	.widget-posts .widget-post {-ms-flex-wrap: wrap;flex-wrap: wrap;}
	.widget-posts .widget-post .media-body {-webkit-box-flex: 1;-ms-flex: 1 1 100%;flex: 1 1 100%;}
	.elementor-row .row {margin-right: 0;margin-left: 0;}
	.box-style .indicator {display: none;}
	.header-new .nav-menus-wrapper .nav-btn {}
	.workprocess-tab .glow-pin, .workprocess-tab .pin, .workprocess-tab .glow-line, .workprocess-tab .tab-icon:before {}
	.workprocess-tab .nav-item .nav-link {padding-bottom: 6px;}
	.workprocess-tab-area .tab-content, .workprocess-tab-area {padding: 0;}
	.workprocess-tab.modern-style .nav-item {margin-bottom: 25px;}
	.single-service-card {padding: 25px;}
	.service-fact-area {margin-right: 0px;}
	.getintouch {display: none;}
	.single-fact {padding: 20px;}
	.xs-pricing-home9 .pricing-header .price-table {font-size: 40px;}
	.xs-pricing-home9 .pricing-header .price-table sup {top: -10px;}
	.header-transparent .xs-seocify-header4 .nav-toggle:before {background-color: #172182;box-shadow: 0 .5em 0 0 #172182,0 1em 0 0 #172182;}}
@media (min-width: 783px) {.admin-bar .nav-sticky.sticky {top: 32px;}}
@media (max-width: 767px) {.xs-footer-section .social-list {direction: ltr;margin-left: 0 !important;}
	.widget:not(:last-child) {margin-top: 30px;}
	.single-post-nav .post-nav-title {display: flex;flex-flow: row;}
	.single-post-nav .post-nav-title.icon-right > i {order: 2;}
	.post-navigation [class^="col-"] + [class^="col-"] .single-post-nav > .media {flex-direction: row;}
	.post-next {padding-top: 20px;}
	.xs-top-bar-info {margin-bottom: 15px;text-align: center;}
	.xs-top-bar-info li:not(:last-child) {padding-right: 10px;margin-right: 10px;}
	.xs-top-bar .xs-list {text-align: center;}
	.xs-header.header-main .xs-menu-tools {padding: 19px 0;}
	.xs-section-padding {padding: 50px 0;}
	.why-choose-us-block {padding: 0;}
	.xs-info-wraper {padding-left: 0;}
	h3, .section-title, .case-study-step h3 {font-size: 1.5rem;}
	.main-tabs .nav-item:not(:last-child) {margin-right: 0;margin-bottom: 30px;}
	.main-tabs .nav-item {width: 100%;}
	.main-tabs .nav-item .nav-link::before {display: none;}
	.single-service-preview {padding: 20px;}
	.service-preview-content {padding-left: 0;}
	.testimonial-slider-preview, .testimonial-slider-thumb {padding: 0;}
	.single-service-preview {padding: 30px;}
	.address-info-list li a {font-size: 1rem;}
	.funfact-wraper [class*=col-]:not(:last-child) .single-funfact::before {display: none;}
	.funfact-wraper [class*=col-]:not(:last-child) .single-funfact {margin-bottom: 20px;}
	.main-filter li a:hover::before, .main-filter li a.selected::before {display: none;}
	.call-to-action-content {padding-right: 0px;}
	.call-to-action-area .btn-wraper {text-align: center;}
	.case-about-area .case-about-img {display: none;}
	.project-brief-wraper {padding-bottom: 50px;}
	.single-cases-card .card-image > img {width: 100%;}
	.single-blog-post-thumb .post-image img {width: 100%;}
	.faqAccordion .btn-link {padding: 15px 30px;}
	.faqAccordion .card-body {padding: 30px;}
	.xs-faq-group [class^=col-]:first-child .xs-single-faq:last-child {margin-bottom: 50px;}
	.pagination li:not(:last-child) {margin-right: 15px;}
	.pagination li a {width: 30px;height: 30px;line-height: 30px;}
	.product-summary {padding-left: 10px;padding-right: 10px;}
	.product-cart-info-list.list-inline>li:not(:last-child) {margin-bottom: 15px;}
	.main-tab .nav-item .nav-link.active {border-color: transparent;padding-bottom: 10px;}
	.main-tab .nav-item:not(:last-child) {margin-right: 25px;}
	.xs-comments-area .comment:not(:last-child) .children {margin-left: 10px;}
	.xs-comments-area .comment-body img {width: 40px;height: 40px;}
	.xs-comments-area .avatar + .meta-data {margin-left: 50px;}
	.xs-comments-area .meta-data {margin-left: 70px;}
	.xs-comments-area .comment:not(:last-child) .meta-data {margin-bottom: 25px;}
	.xs-comments-area {margin-bottom: 30px;padding-bottom: 30px;}
	.post-list .post-body {padding: 30px;}
	.post-list .entry-title {font-size: 1.4rem;}
	.video-popup-btn {width: 60px;height: 60px;line-height: 60px;}
	blockquote:before {font-size: 2rem;margin-top: 0px;}
	blockquote>p {padding-left: 47px;}
	.single-blog-post .post-body {padding: 25px;}
	.social-list > li {margin-bottom: 10px;}
	.author-card, .post-navigation, .xs-comments-area.comment-style2, .comment-respond.respond-style2 {padding: 30px 25px;}
	.author-card .author-img {margin-right: 14px;width: 60px;height: 60px;-webkit-box-flex: 0;-ms-flex: 0 0 60px;flex: 0 0 60px;}
	.post-next, .post-previous {border-color: transparent;}
	.single-post-nav {margin-right: 0;}
	.post-navigation [class^=col-]+[class^=col-] .single-post-nav {margin-left: 0;}
	.post-previous {margin-bottom: 20px;}
	.xs-comments-area .comment-content {padding-right: 0;}
	.xs-comments-area.comment-style2 .comment:not(:last-child) .children {padding-left: 10px;}
	.blog-single-post-section .blog-sidebar-wraper {margin-top: 0;}
	.service-info-section .xs-heading .section-title {font-size: 1.2rem;line-height: 1.4;}
	.service-info-block-area .xs-heading .section-title {font-size: 1.266667rem;}
	.service-summary-text {padding-left: 0;}
	.service-summary-text>p {padding-right: 0;}
	.piechats-wraper .single-piechart:not(:last-child) {margin-right: 10px;margin-bottom: 15px;}
	.service-summary-text.service-summary-2 {padding-right: 0;}
	.single-case-studies .image img {width: 100%;}
	.single-bio-thumb {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;}
	.single-bio-thumb .bio-info {margin-left: 24px;}
	.xs-banner-content.banner-content-v2 .banner-title {font-size: 2.2rem;}
	.hiring-image {text-align: center;margin-bottom: 30px;}
	.faq-question-wraper {padding-bottom: 50px;}
	.faq-accordion-group {padding-bottom: 50px;}
	.product-header > img {width: 100%;}
	.product-filter-area .select {width: 100%;}
	.product-filter-area .select-options {width: 100%;}
	.our-security-section.xs-section-padding {padding-bottom: 30px;}
	.boosting-section.xs-section-padding {padding-top: 30px;}
	.widget-posts .widget-post {-ms-flex-wrap: nowrap;flex-wrap: nowrap;}
	.widget-posts .widget-post .media-body {margin-top: 15px;}
	.post-list .entry-meta > span:not(:last-child) {margin-right: 10px;margin-bottom: 10px;}
	.xs-footer-section .social-list {direction: ltr;margin-left: 0 !important;}
	.workprocess-tab .glow-pin, .workprocess-tab .pin, .workprocess-tab .glow-line, .workprocess-tab .tab-icon:before {display: none;}
	.workprocess-tab {border-bottom: 0px solid #000;}
	.workprocess-tab .nav-item {width: calc(100% / 3);}
	.service-preview-content>ul>li {width: 100%;margin-bottom: 20px;}}
@media (max-width: 480px) {.xs-heading[class*=text-] {margin-bottom: 40px;}
	.xs-info-img  + .video-content {position: static;}
	.service-info-img, .service-summary-img {display: none;}
	.partner-area .xs-list {text-align: left !important;}
	.copyright .social-list {text-align: center;}
	.xs-banner-content.banner-content-v2 .banner-title {font-size: 1.2rem;}
	.xs-banner.banner-v2 .single-banner-slide {min-height: 450px;background-size: cover;}
	.xs-banner-content.banner-content-v2 .banner-subtitle {margin-bottom: 11px;}
	.section-padding-small {padding: 40px 0px;}
	.piechats-wraper .single-piechart {float: none;display: block;text-align: center;}
	.call-to-action-content {text-align: center;}
	.post-list .entry-meta > span:not(:last-child) {margin-right: 20px;margin-bottom: 8px;}}
@media (max-width: 320px) {:root {font-size: 13px;}
	.service-info-summary h3 {font-size: 1rem;}
	.section-padding-small-bottom {padding-bottom: 30px;}
	.piechats-wraper .single-piechart:not(:last-child) {margin-right: 0px;}
	.call-to-action-content h2 {font-size: 2rem;text-align: center;}
	.banner-slider .single-banner-slide {min-height: 650px;}
	.banner-title {font-size: 1.7333333333rem;}
	.xs-banner-content .banner-title {margin-bottom: 20px;}
	.section-padding-small-top.boosting-section {padding-top: 15px;}
	.main-filter li a {font-size: 1rem;}
	.main-filter li:not(:last-child) {margin-right: 20px;}
	.inner-banner-title {font-size: 2rem;}
	.main-tab .nav-item .nav-link {font-size: 1rem;}
	.service-info-block-area .btn-wraper .btn:not(:last-child) {margin-right: 0;}
	.widget-posts .widget-post .media-body {margin-top: 0px;}
	.post-list .entry-meta > span:not(:last-child) {margin-right: 0;margin-bottom: 6px;}
	.post-list .entry-meta > span {display: block;}
	blockquote {padding: 20px;}
	.workprocess-tab .nav-item {width: calc(100% / 2);}}