<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Mega Menu &#8211; 1cmedia</title>
	<atom:link href="https://oneclassmedia.bitbucket.io/mega_menu/feed/" rel="self" type="application/rss+xml" />
	<link>http://oneclassmedia.bitbucket.io/</link>
	<description>Nous créons ce que vous imaginez</description>
	<lastBuildDate>Wed, 05 Feb 2020 19:21:04 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://oneclassmedia.bitbucket.io/wp-content/uploads/2020/02/cropped-Favicon@2x-32x32.png</url>
	<title>Mega Menu &#8211; 1cmedia</title>
	<link>http://oneclassmedia.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Contact</title>
		<link>https://oneclassmedia.bitbucket.io/mega_menu/e-contact/</link>
				<pubDate>Wed, 05 Feb 2020 19:18:52 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://oneclassmedia.bitbucket.io/?post_type=mega_menu&#038;p=3019</guid>
				<description><![CDATA[Get in Touch Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right 189 Matex Street, Badly Avenue New York, NY-12548 +1 (254) 878-2354 +1 (259) 235-3898 info@website.com sales@website.com Get in Touch Far far away, behind the word mountains, far [&#8230;]]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="3019" class="elementor elementor-3019" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-685a5a7f elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="685a5a7f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-4f4a1679 elementor-column elementor-col-33 elementor-top-column" data-id="4f4a1679" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-415782ca elementor-column elementor-col-33 elementor-top-column" data-id="415782ca" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b2a6b1 elementor-widget elementor-widget-xs-heading" data-id="b2a6b1" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-center">
            <h2 class="section-title">Get in Touch</h2>
                <span class="line"></span>
    </div> 		</div>
				</div>
				<div class="elementor-element elementor-element-14e26c81 elementor-widget elementor-widget-text-editor" data-id="14e26c81" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right</div>
				</div>
				</div>
				<section class="elementor-element elementor-element-279b8513 contact-widget elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="279b8513" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-340d4da2 elementor-column elementor-col-33 elementor-inner-column" data-id="340d4da2" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-62700a56 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="62700a56" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-" >
				<i class="icon icon-map-marker2" aria-hidden="true"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span ></span>
				</h3>
								<p class="elementor-icon-box-description"><a href="https://www.google.com/maps/place/New+York,+NY,+USA/@40.6971494,-74.2598712,10z/data=!3m1!4b1!4m5!3m4!1s0x89c24fa5d33f083b:0xc80b8f06e177fe62!8m2!3d40.7127753!4d-74.0059728" target="_blank" class="info-content">189 Matex Street, Badly Avenue New York, NY-12548</a></p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-21c9da16 elementor-column elementor-col-33 elementor-inner-column" data-id="21c9da16" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-672f45d4 elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="672f45d4" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-" >
				<i class="icon icon-phone-call3" aria-hidden="true"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span ></span>
				</h3>
								<p class="elementor-icon-box-description"><a href="callto:+1%20(254)%20878-2354" class="info-content">+1 (254) 878-2354</a>
                                <a href="callto:+1%20(259)%20235-3898" class="info-content">+1 (259) 235-3898</a></p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-31a0624d elementor-column elementor-col-33 elementor-inner-column" data-id="31a0624d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b4bcf1d elementor-view-default elementor-position-top elementor-vertical-align-top elementor-widget elementor-widget-icon-box" data-id="b4bcf1d" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-" >
				<i class="icon icon-envelope4" aria-hidden="true"></i>				</span>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<span ></span>
				</h3>
								<p class="elementor-icon-box-description"><a href="mailto:info@website.com" class="info-content">info@website.com</a>
                                <a href="mailto:sales@website.com" class="info-content">sales@website.com</a></p>
							</div>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-3cc7e6c4 elementor-column elementor-col-33 elementor-top-column" data-id="3cc7e6c4" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-1a851427 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1a851427" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-5839f27f elementor-column elementor-col-100 elementor-top-column" data-id="5839f27f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-8310c0 elementor-widget elementor-widget-google_maps" data-id="8310c0" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
			<div class="elementor-custom-embed"><iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=40.712775%2C%20-74.005973&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" aria-label="40.712775, -74.005973"></iframe></div>		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-19a87d82 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="19a87d82" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-264aa8de elementor-column elementor-col-33 elementor-top-column" data-id="264aa8de" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-413cdeb4 elementor-column elementor-col-33 elementor-top-column" data-id="413cdeb4" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-48168363 elementor-widget elementor-widget-xs-heading" data-id="48168363" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-center">
            <h2 class="section-title">Get in Touch</h2>
                <span class="line"></span>
    </div> 		</div>
				</div>
				<div class="elementor-element elementor-element-7f2b24b2 elementor-widget elementor-widget-text-editor" data-id="7f2b24b2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right</p></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-3d4e6f3b elementor-widget elementor-widget-shortcode" data-id="3d4e6f3b" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode">[contact-form-7]</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-6f1b2050 elementor-column elementor-col-33 elementor-top-column" data-id="6f1b2050" data-element_type="column">
			<div class="elementor-column-wrap">
					<div class="elementor-widget-wrap">
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-620d6025 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="620d6025" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-171e5771 elementor-column elementor-col-50 elementor-top-column" data-id="171e5771" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-520eedb1 elementor-widget elementor-widget-heading" data-id="520eedb1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested To<br> Get Our Featured Service</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-59f06756 elementor-column elementor-col-50 elementor-top-column" data-id="59f06756" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-23ea2071 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-xs-button" data-id="23ea2071" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">Get Started Now</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
		<item>
		<title>Home Variation</title>
		<link>https://oneclassmedia.bitbucket.io/mega_menu/home-variation/</link>
				<pubDate>Tue, 20 Nov 2018 06:53:44 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://oneclassmedia.bitbucket.io/?post_type=mega_menu&#038;p=2893</guid>
				<description><![CDATA[Home One Home Two Home Three Home Four Home Five Home Six Home Seven Home Eight Home Nine Home Ten Home Eleven Home Twelve One Page Style One One Page Style Two One Page Style Three One Page Style Four One Page Style Five One Page Style Six One Page Style Seven Coming Soon]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2893" class="elementor elementor-2893" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-525f168c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="525f168c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-312fbd2 elementor-column elementor-col-25 elementor-top-column" data-id="312fbd2" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3b6661a7 elementor-widget elementor-widget-image" data-id="3b6661a7" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/01.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home One</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-3a3d9137 elementor-column elementor-col-25 elementor-top-column" data-id="3a3d9137" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-57798069 elementor-widget elementor-widget-image" data-id="57798069" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-two/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/02.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Two</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1015c210 elementor-column elementor-col-25 elementor-top-column" data-id="1015c210" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2b059189 elementor-widget elementor-widget-image" data-id="2b059189" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://oneclassmedia.bitbucket.io/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/03.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Three</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-bc2cb2 elementor-column elementor-col-25 elementor-top-column" data-id="bc2cb2" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-15924cbe elementor-widget elementor-widget-image" data-id="15924cbe" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-four/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/04.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Four</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-dfa4e59 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dfa4e59" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-6a8e9eab elementor-column elementor-col-25 elementor-top-column" data-id="6a8e9eab" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-49469419 elementor-widget elementor-widget-image" data-id="49469419" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-five/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/05.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Five</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-35dc1b00 elementor-column elementor-col-25 elementor-top-column" data-id="35dc1b00" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-61ced757 elementor-widget elementor-widget-image" data-id="61ced757" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-six/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/06.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Six</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-23b2b8a1 elementor-column elementor-col-25 elementor-top-column" data-id="23b2b8a1" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6e8154ae elementor-widget elementor-widget-image" data-id="6e8154ae" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-seven/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/home_v8_nav.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Seven</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-5824a037 elementor-column elementor-col-25 elementor-top-column" data-id="5824a037" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-724e4193 elementor-widget elementor-widget-image" data-id="724e4193" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/home-eight/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/home_v9_nav.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Eight</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-2eae4354 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="2eae4354" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-13d8676c elementor-column elementor-col-25 elementor-top-column" data-id="13d8676c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-716d4685 elementor-widget elementor-widget-image" data-id="716d4685" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/nine/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/07.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Nine</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-72c92278 elementor-column elementor-col-25 elementor-top-column" data-id="72c92278" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-354cc137 elementor-widget elementor-widget-image" data-id="354cc137" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/ten/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/02.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Ten</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1e4773e7 elementor-column elementor-col-25 elementor-top-column" data-id="1e4773e7" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6ab2ed75 elementor-widget elementor-widget-image" data-id="6ab2ed75" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/eleven/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/08.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Eleven</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-4f524ecd elementor-column elementor-col-25 elementor-top-column" data-id="4f524ecd" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5374c8d8 elementor-widget elementor-widget-image" data-id="5374c8d8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/twelve/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/09.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Home Twelve</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-878fb68 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="878fb68" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-6bd78d21 elementor-column elementor-col-25 elementor-top-column" data-id="6bd78d21" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6dec3e14 elementor-widget elementor-widget-image" data-id="6dec3e14" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-style-one/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/07.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style One</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-363fb2ae elementor-column elementor-col-25 elementor-top-column" data-id="363fb2ae" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-1745a24e elementor-widget elementor-widget-image" data-id="1745a24e" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-style-two/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/08.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Two</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7a400b27 elementor-column elementor-col-25 elementor-top-column" data-id="7a400b27" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-66f1ec25 elementor-widget elementor-widget-image" data-id="66f1ec25" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-style-three/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/09.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Three</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-460d2857 elementor-column elementor-col-25 elementor-top-column" data-id="460d2857" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-4dff1d73 elementor-widget elementor-widget-image" data-id="4dff1d73" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-style-four/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/10.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Four</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-3e6b0d3e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3e6b0d3e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-6a131d8a elementor-column elementor-col-25 elementor-top-column" data-id="6a131d8a" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3acb0dfd elementor-widget elementor-widget-image" data-id="3acb0dfd" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-style-five/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/11.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Five</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-63aa1912 elementor-column elementor-col-25 elementor-top-column" data-id="63aa1912" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-41f166db elementor-widget elementor-widget-image" data-id="41f166db" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-six/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/01.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Six</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1e674f9f elementor-column elementor-col-25 elementor-top-column" data-id="1e674f9f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-71d7031 elementor-widget elementor-widget-image" data-id="71d7031" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="https://wp.xpeedstudio.com/seocify/onepage-seven/">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/02-1.jpg" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">One Page Style Seven</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-2bdb25ce elementor-column elementor-col-25 elementor-top-column" data-id="2bdb25ce" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-62769dcd elementor-widget elementor-widget-image" data-id="62769dcd" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
							<figure class="wp-caption">
											<a data-elementor-open-lightbox="" href="#">
							<img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2019/12/coming_soon_nav.png" title="" alt="" />								</a>
											<figcaption class="widget-image-caption wp-caption-text">Coming Soon</figcaption>
										</figure>
					</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
		<item>
		<title>Page Variation</title>
		<link>https://oneclassmedia.bitbucket.io/mega_menu/page-variation/</link>
				<pubDate>Wed, 04 Jul 2018 04:46:51 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://wp.xpeedstudio.com/upturn/home-others/?post_type=mega_menu&#038;p=196</guid>
				<description><![CDATA[About Pricing Case Studies FAQ Team Google Map 404 Testimonial Typography]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="196" class="elementor elementor-196 elementor-bc-flex-widget" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<div class="elementor-element elementor-element-95333cf xs-icon-menu elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="95333cf" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3923bd0 elementor-column elementor-col-33 elementor-top-column" data-id="3923bd0" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-dece908 elementor-widget elementor-widget-xs-page-list-link" data-id="dece908" data-element_type="widget" data-widget_type="xs-page-list-link.default">
				<div class="elementor-widget-container">
			        <ul class="xs-icon-menu">
                                                        <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/about/">
                                                                <i class="icon icon-briefcase"></i>
                                                                About                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/pricing/">
                                                                <i class="icon icon-direction"></i>
                                                                Pricing                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/case-studies/">
                                                                <i class="icon icon-line-chart"></i>
                                                                Case Studies                            </a>
                        </li>
                                                </ul>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-9d82e41 elementor-column elementor-col-33 elementor-top-column" data-id="9d82e41" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-cd507e5 elementor-widget elementor-widget-xs-page-list-link" data-id="cd507e5" data-element_type="widget" data-widget_type="xs-page-list-link.default">
				<div class="elementor-widget-container">
			        <ul class="xs-icon-menu">
                                                        <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/faq/">
                                                                <i class="icon icon-question-circle"></i>
                                                                FAQ                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/team/">
                                                                <i class="icon icon-folder2"></i>
                                                                Team                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/google-map/">
                                                                <i class="icon icon-chat"></i>
                                                                Google Map                            </a>
                        </li>
                                                </ul>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-707c4fa elementor-column elementor-col-33 elementor-top-column" data-id="707c4fa" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c6f9d3b elementor-widget elementor-widget-xs-page-list-link" data-id="c6f9d3b" data-element_type="widget" data-widget_type="xs-page-list-link.default">
				<div class="elementor-widget-container">
			        <ul class="xs-icon-menu">
                                                        <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/404/">
                                                                <i class="icon icon-padlock-1"></i>
                                                                404                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/testimonial/">
                                                                <i class="icon icon-users"></i>
                                                                Testimonial                            </a>
                        </li>
                                                                                    <li class="single-menu-item">
                            <a href="https://oneclassmedia.bitbucket.io/typography/">
                                                                <i class="icon icon-agenda-1"></i>
                                                                Typography                            </a>
                        </li>
                                                </ul>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
	</channel>
</rss>
