<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Sales &#8211; 1cmedia</title>
	<atom:link href="https://oneclassmedia.bitbucket.io/case-study-categories/sales/feed/" rel="self" type="application/rss+xml" />
	<link>http://oneclassmedia.bitbucket.io/</link>
	<description>Nous créons ce que vous imaginez</description>
	<lastBuildDate>Tue, 24 Dec 2019 12:19:57 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://oneclassmedia.bitbucket.io/wp-content/uploads/2020/02/cropped-Favicon@2x-32x32.png</url>
	<title>Sales &#8211; 1cmedia</title>
	<link>http://oneclassmedia.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Twice profit than before</title>
		<link>https://oneclassmedia.bitbucket.io/case-study/twice-profit-than-before-2/</link>
				<pubDate>Tue, 18 Sep 2018 11:52:37 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://wp.xpeedstudio.com/upturn/home-others/?post_type=case_study&#038;p=2561</guid>
				<description><![CDATA[Info Category : Web Development Date :25 June, 2018 Client :Oniblue Project Brief: Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by [&#8230;]]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2561" class="elementor elementor-2561" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-f55c156 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f55c156" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a46298e elementor-column elementor-col-50 elementor-top-column" data-id="a46298e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5457554 elementor-widget elementor-widget-heading" data-id="5457554" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Info</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7e85609 list-group elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="7e85609" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Category :</strong> Web Development</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Date :</strong>25 June, 2018</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Client :</strong>Oniblue</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-a0e3371 elementor-column elementor-col-50 elementor-top-column" data-id="a0e3371" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-06bf73b elementor-widget elementor-widget-image" data-id="06bf73b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="1560" height="1207" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg" class="attachment-full size-full" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg 1560w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-300x232.jpg 300w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-768x594.jpg 768w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1024x792.jpg 1024w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1536x1188.jpg 1536w" sizes="(max-width: 1560px) 100vw, 1560px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-b5f8218 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="b5f8218" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-c524c91 elementor-column elementor-col-100 elementor-top-column" data-id="c524c91" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d95a616 elementor-widget elementor-widget-xs-doodle-parallax" data-id="d95a616" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:-130px;right:initial;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-58c1147 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="58c1147" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2f236b1 elementor-column elementor-col-100 elementor-inner-column" data-id="2f236b1" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b2d626b elementor-widget elementor-widget-heading" data-id="b2d626b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Project Brief:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-31196f4 elementor-widget elementor-widget-text-editor" data-id="31196f4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5e014cc elementor-widget elementor-widget-text-editor" data-id="5e014cc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-e6b4304 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e6b4304" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-cfd74bb elementor-column elementor-col-33 elementor-top-column" data-id="cfd74bb" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc41ae4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="bc41ae4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-f0d0ebf elementor-column elementor-col-33 elementor-top-column" data-id="f0d0ebf" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2d2d9e4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2d2d9e4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-6695c18 elementor-column elementor-col-33 elementor-top-column" data-id="6695c18" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c74ed4f elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="c74ed4f" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-90868e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="90868e0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-c860133 elementor-column elementor-col-100 elementor-top-column" data-id="c860133" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ab8e62e elementor-widget elementor-widget-divider" data-id="ab8e62e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-0bc79f5 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0bc79f5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-e6d0c31 elementor-column elementor-col-100 elementor-top-column" data-id="e6d0c31" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-9b36927 elementor-widget elementor-widget-xs-doodle-parallax" data-id="9b36927" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:initial;right:-130px;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-ae18e1e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ae18e1e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b41245b elementor-column elementor-col-50 elementor-inner-column" data-id="b41245b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d7904c2 elementor-widget elementor-widget-xs-heading" data-id="d7904c2" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 01</h3>
                <h2 class="section-title">Gather all information</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-ca37674 elementor-widget elementor-widget-text-editor" data-id="ca37674" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e8c5882 elementor-widget elementor-widget-xs-button" data-id="e8c5882" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step2" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-fd7913b elementor-column elementor-col-50 elementor-inner-column" data-id="fd7913b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc9eeaa elementor-widget elementor-widget-image" data-id="bc9eeaa" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="402" height="341" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png 402w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1-300x254.png 300w" sizes="(max-width: 402px) 100vw, 402px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-dc1e1e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dc1e1e2" data-element_type="section" id="step2">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3173c84 elementor-column elementor-col-100 elementor-top-column" data-id="3173c84" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-24ae27a elementor-widget elementor-widget-divider" data-id="24ae27a" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-2d1c242 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="2d1c242" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-df18e82 elementor-column elementor-col-100 elementor-top-column" data-id="df18e82" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a8c5781 elementor-widget elementor-widget-xs-doodle-parallax" data-id="a8c5781" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '40%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:-200px;right:initial;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-991daa4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="991daa4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-723ed6e elementor-column elementor-col-50 elementor-inner-column" data-id="723ed6e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-dfc00df elementor-widget elementor-widget-image" data-id="dfc00df" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-44f3e7d elementor-column elementor-col-50 elementor-inner-column" data-id="44f3e7d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc88142 elementor-widget elementor-widget-xs-heading" data-id="bc88142" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 02</h3>
                <h2 class="section-title">Find Solution &amp; Solve it</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-e41d8a1 elementor-widget elementor-widget-text-editor" data-id="e41d8a1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-367d9e2 elementor-widget elementor-widget-xs-button" data-id="367d9e2" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step3" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-6a413ea elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6a413ea" data-element_type="section" id="step3">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-bad006b elementor-column elementor-col-100 elementor-top-column" data-id="bad006b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a9f2924 elementor-widget elementor-widget-divider" data-id="a9f2924" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f9fb9c5 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f9fb9c5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-be2d8a3 elementor-column elementor-col-100 elementor-top-column" data-id="be2d8a3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b3b25b1 elementor-widget elementor-widget-xs-doodle-parallax" data-id="b3b25b1" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '-50%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:initial;right:-200px;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-33701f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="33701f7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3167836 elementor-column elementor-col-50 elementor-inner-column" data-id="3167836" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e9d14cd elementor-widget elementor-widget-xs-heading" data-id="e9d14cd" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 03</h3>
                <h2 class="section-title">Finally Get the Result</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-b0f40fe elementor-widget elementor-widget-text-editor" data-id="b0f40fe" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-bffff00 elementor-widget elementor-widget-xs-button" data-id="bffff00" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">View Details</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1144740 elementor-column elementor-col-50 elementor-inner-column" data-id="1144740" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-7c67183 elementor-widget elementor-widget-image" data-id="7c67183" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-0a21075 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0a21075" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-604c1b9 elementor-column elementor-col-50 elementor-top-column" data-id="604c1b9" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b54243b elementor-widget elementor-widget-heading" data-id="b54243b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested To Get Our Featured Service</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-4f38ea3 elementor-column elementor-col-50 elementor-top-column" data-id="4f38ea3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ba317ec elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-xs-button" data-id="ba317ec" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">Get Started Now</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
		<item>
		<title>Twice profit than before</title>
		<link>https://oneclassmedia.bitbucket.io/case-study/twice-profit-than-before/</link>
				<pubDate>Tue, 18 Sep 2018 11:37:13 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://wp.xpeedstudio.com/upturn/home-others/?post_type=case_study&#038;p=2546</guid>
				<description><![CDATA[Info Category : Web Development Date :25 June, 2018 Client :Oniblue Project Brief: Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by [&#8230;]]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2546" class="elementor elementor-2546" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-9bf385a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="9bf385a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-aa60f2b elementor-column elementor-col-50 elementor-top-column" data-id="aa60f2b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e1496aa elementor-widget elementor-widget-heading" data-id="e1496aa" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Info</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-966f7ab list-group elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="966f7ab" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Category :</strong> Web Development</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Date :</strong>25 June, 2018</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Client :</strong>Oniblue</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7316607 elementor-column elementor-col-50 elementor-top-column" data-id="7316607" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d5ca4dc elementor-widget elementor-widget-image" data-id="d5ca4dc" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="1560" height="1207" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg" class="attachment-full size-full" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg 1560w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-300x232.jpg 300w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-768x594.jpg 768w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1024x792.jpg 1024w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1536x1188.jpg 1536w" sizes="(max-width: 1560px) 100vw, 1560px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f1c32d5 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f1c32d5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b90b9a4 elementor-column elementor-col-100 elementor-top-column" data-id="b90b9a4" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5afc4de elementor-widget elementor-widget-xs-doodle-parallax" data-id="5afc4de" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:-130px;right:initial;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-88315e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="88315e0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-de7d8b5 elementor-column elementor-col-100 elementor-inner-column" data-id="de7d8b5" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-cf84b71 elementor-widget elementor-widget-heading" data-id="cf84b71" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Project Brief:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-976b8b7 elementor-widget elementor-widget-text-editor" data-id="976b8b7" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-158db35 elementor-widget elementor-widget-text-editor" data-id="158db35" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-1b720ae elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1b720ae" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b5899e6 elementor-column elementor-col-33 elementor-top-column" data-id="b5899e6" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-9596821 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="9596821" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-dbb4a41 elementor-column elementor-col-33 elementor-top-column" data-id="dbb4a41" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-fc14852 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="fc14852" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-8a573b1 elementor-column elementor-col-33 elementor-top-column" data-id="8a573b1" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d0d9038 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="d0d9038" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-3d6cf32 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3d6cf32" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-c1664a3 elementor-column elementor-col-100 elementor-top-column" data-id="c1664a3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-89a766c elementor-widget elementor-widget-divider" data-id="89a766c" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-5abdc34 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5abdc34" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-9aa0ed5 elementor-column elementor-col-100 elementor-top-column" data-id="9aa0ed5" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-186fa7b elementor-widget elementor-widget-xs-doodle-parallax" data-id="186fa7b" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:initial;right:-130px;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-ed6cbca elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ed6cbca" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-37896ec elementor-column elementor-col-50 elementor-inner-column" data-id="37896ec" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-0418c18 elementor-widget elementor-widget-xs-heading" data-id="0418c18" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 01</h3>
                <h2 class="section-title">Gather all information</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-abba2c3 elementor-widget elementor-widget-text-editor" data-id="abba2c3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fe05ba8 elementor-widget elementor-widget-xs-button" data-id="fe05ba8" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step2" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-9b6be16 elementor-column elementor-col-50 elementor-inner-column" data-id="9b6be16" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e27b490 elementor-widget elementor-widget-image" data-id="e27b490" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="402" height="341" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png 402w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1-300x254.png 300w" sizes="(max-width: 402px) 100vw, 402px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-a8f5e83 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="a8f5e83" data-element_type="section" id="step2">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-509761c elementor-column elementor-col-100 elementor-top-column" data-id="509761c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-f21ac26 elementor-widget elementor-widget-divider" data-id="f21ac26" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-1413cbe elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="1413cbe" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7890c4b elementor-column elementor-col-100 elementor-top-column" data-id="7890c4b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-3521905 elementor-widget elementor-widget-xs-doodle-parallax" data-id="3521905" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '40%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:-200px;right:initial;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-868af9a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="868af9a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-fb76649 elementor-column elementor-col-50 elementor-inner-column" data-id="fb76649" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-fc11c4f elementor-widget elementor-widget-image" data-id="fc11c4f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7d10290 elementor-column elementor-col-50 elementor-inner-column" data-id="7d10290" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2daa9ca elementor-widget elementor-widget-xs-heading" data-id="2daa9ca" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 02</h3>
                <h2 class="section-title">Find Solution &amp; Solve it</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-441a271 elementor-widget elementor-widget-text-editor" data-id="441a271" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-ecbac52 elementor-widget elementor-widget-xs-button" data-id="ecbac52" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step3" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-910a35b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="910a35b" data-element_type="section" id="step3">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-44dc98a elementor-column elementor-col-100 elementor-top-column" data-id="44dc98a" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-831d635 elementor-widget elementor-widget-divider" data-id="831d635" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f5b76be elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f5b76be" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-ccf8109 elementor-column elementor-col-100 elementor-top-column" data-id="ccf8109" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d2d13f7 elementor-widget elementor-widget-xs-doodle-parallax" data-id="d2d13f7" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '-50%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:initial;right:-200px;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-8eed5d3 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="8eed5d3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-7b27f68 elementor-column elementor-col-50 elementor-inner-column" data-id="7b27f68" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b71cd87 elementor-widget elementor-widget-xs-heading" data-id="b71cd87" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 03</h3>
                <h2 class="section-title">Finally Get the Result</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-f21bd16 elementor-widget elementor-widget-text-editor" data-id="f21bd16" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-00bd6e6 elementor-widget elementor-widget-xs-button" data-id="00bd6e6" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">View Details</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-ab1e72d elementor-column elementor-col-50 elementor-inner-column" data-id="ab1e72d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ee214ac elementor-widget elementor-widget-image" data-id="ee214ac" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-3e187e7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="3e187e7" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2fa50e3 elementor-column elementor-col-50 elementor-top-column" data-id="2fa50e3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bbcabdb elementor-widget elementor-widget-heading" data-id="bbcabdb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested To Get Our Featured Service</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-2aa372d elementor-column elementor-col-50 elementor-top-column" data-id="2aa372d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2dabc37 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-xs-button" data-id="2dabc37" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">Get Started Now</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
	</channel>
</rss>
