<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Marketing &#8211; 1cmedia</title>
	<atom:link href="https://oneclassmedia.bitbucket.io/case-study-categories/marketing/feed/" rel="self" type="application/rss+xml" />
	<link>http://oneclassmedia.bitbucket.io/</link>
	<description>Nous créons ce que vous imaginez</description>
	<lastBuildDate>Tue, 24 Dec 2019 12:19:57 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.3.2</generator>

<image>
	<url>https://oneclassmedia.bitbucket.io/wp-content/uploads/2020/02/cropped-Favicon@2x-32x32.png</url>
	<title>Marketing &#8211; 1cmedia</title>
	<link>http://oneclassmedia.bitbucket.io/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Twice profit than before</title>
		<link>https://oneclassmedia.bitbucket.io/case-study/twice-profit-than-before-2/</link>
				<pubDate>Tue, 18 Sep 2018 11:52:37 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://wp.xpeedstudio.com/upturn/home-others/?post_type=case_study&#038;p=2561</guid>
				<description><![CDATA[Info Category : Web Development Date :25 June, 2018 Client :Oniblue Project Brief: Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by [&#8230;]]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2561" class="elementor elementor-2561" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-f55c156 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f55c156" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a46298e elementor-column elementor-col-50 elementor-top-column" data-id="a46298e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5457554 elementor-widget elementor-widget-heading" data-id="5457554" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Info</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-7e85609 list-group elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="7e85609" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Category :</strong> Web Development</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Date :</strong>25 June, 2018</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Client :</strong>Oniblue</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-a0e3371 elementor-column elementor-col-50 elementor-top-column" data-id="a0e3371" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-06bf73b elementor-widget elementor-widget-image" data-id="06bf73b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="1560" height="1207" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg" class="attachment-full size-full" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg 1560w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-300x232.jpg 300w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-768x594.jpg 768w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1024x792.jpg 1024w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1536x1188.jpg 1536w" sizes="(max-width: 1560px) 100vw, 1560px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-b5f8218 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="b5f8218" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-c524c91 elementor-column elementor-col-100 elementor-top-column" data-id="c524c91" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d95a616 elementor-widget elementor-widget-xs-doodle-parallax" data-id="d95a616" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:-130px;right:initial;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-58c1147 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="58c1147" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2f236b1 elementor-column elementor-col-100 elementor-inner-column" data-id="2f236b1" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b2d626b elementor-widget elementor-widget-heading" data-id="b2d626b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Project Brief:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-31196f4 elementor-widget elementor-widget-text-editor" data-id="31196f4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-5e014cc elementor-widget elementor-widget-text-editor" data-id="5e014cc" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-e6b4304 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e6b4304" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-cfd74bb elementor-column elementor-col-33 elementor-top-column" data-id="cfd74bb" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc41ae4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="bc41ae4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-f0d0ebf elementor-column elementor-col-33 elementor-top-column" data-id="f0d0ebf" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2d2d9e4 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="2d2d9e4" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-6695c18 elementor-column elementor-col-33 elementor-top-column" data-id="6695c18" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c74ed4f elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="c74ed4f" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-90868e0 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="90868e0" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-c860133 elementor-column elementor-col-100 elementor-top-column" data-id="c860133" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ab8e62e elementor-widget elementor-widget-divider" data-id="ab8e62e" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-0bc79f5 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0bc79f5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-e6d0c31 elementor-column elementor-col-100 elementor-top-column" data-id="e6d0c31" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-9b36927 elementor-widget elementor-widget-xs-doodle-parallax" data-id="9b36927" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:initial;right:-130px;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-ae18e1e elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="ae18e1e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-b41245b elementor-column elementor-col-50 elementor-inner-column" data-id="b41245b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-d7904c2 elementor-widget elementor-widget-xs-heading" data-id="d7904c2" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 01</h3>
                <h2 class="section-title">Gather all information</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-ca37674 elementor-widget elementor-widget-text-editor" data-id="ca37674" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-e8c5882 elementor-widget elementor-widget-xs-button" data-id="e8c5882" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step2" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-fd7913b elementor-column elementor-col-50 elementor-inner-column" data-id="fd7913b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc9eeaa elementor-widget elementor-widget-image" data-id="bc9eeaa" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="402" height="341" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png 402w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1-300x254.png 300w" sizes="(max-width: 402px) 100vw, 402px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-dc1e1e2 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="dc1e1e2" data-element_type="section" id="step2">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3173c84 elementor-column elementor-col-100 elementor-top-column" data-id="3173c84" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-24ae27a elementor-widget elementor-widget-divider" data-id="24ae27a" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-2d1c242 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="2d1c242" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-df18e82 elementor-column elementor-col-100 elementor-top-column" data-id="df18e82" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a8c5781 elementor-widget elementor-widget-xs-doodle-parallax" data-id="a8c5781" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '40%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:-200px;right:initial;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-991daa4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="991daa4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-723ed6e elementor-column elementor-col-50 elementor-inner-column" data-id="723ed6e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-dfc00df elementor-widget elementor-widget-image" data-id="dfc00df" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-44f3e7d elementor-column elementor-col-50 elementor-inner-column" data-id="44f3e7d" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-bc88142 elementor-widget elementor-widget-xs-heading" data-id="bc88142" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 02</h3>
                <h2 class="section-title">Find Solution &amp; Solve it</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-e41d8a1 elementor-widget elementor-widget-text-editor" data-id="e41d8a1" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-367d9e2 elementor-widget elementor-widget-xs-button" data-id="367d9e2" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step3" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-6a413ea elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="6a413ea" data-element_type="section" id="step3">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-bad006b elementor-column elementor-col-100 elementor-top-column" data-id="bad006b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a9f2924 elementor-widget elementor-widget-divider" data-id="a9f2924" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-f9fb9c5 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="f9fb9c5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-be2d8a3 elementor-column elementor-col-100 elementor-top-column" data-id="be2d8a3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b3b25b1 elementor-widget elementor-widget-xs-doodle-parallax" data-id="b3b25b1" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '-50%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:initial;right:-200px;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-33701f7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="33701f7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3167836 elementor-column elementor-col-50 elementor-inner-column" data-id="3167836" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e9d14cd elementor-widget elementor-widget-xs-heading" data-id="e9d14cd" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 03</h3>
                <h2 class="section-title">Finally Get the Result</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-b0f40fe elementor-widget elementor-widget-text-editor" data-id="b0f40fe" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-bffff00 elementor-widget elementor-widget-xs-button" data-id="bffff00" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">View Details</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-1144740 elementor-column elementor-col-50 elementor-inner-column" data-id="1144740" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-7c67183 elementor-widget elementor-widget-image" data-id="7c67183" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-0a21075 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0a21075" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-604c1b9 elementor-column elementor-col-50 elementor-top-column" data-id="604c1b9" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b54243b elementor-widget elementor-widget-heading" data-id="b54243b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested To Get Our Featured Service</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-4f38ea3 elementor-column elementor-col-50 elementor-top-column" data-id="4f38ea3" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ba317ec elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-xs-button" data-id="ba317ec" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">Get Started Now</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
		<item>
		<title>Built web faster &#038; better</title>
		<link>https://oneclassmedia.bitbucket.io/case-study/built-web-faster-better-2/</link>
				<pubDate>Tue, 18 Sep 2018 11:49:30 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
		
		<guid isPermaLink="false">https://wp.xpeedstudio.com/upturn/home-others/?post_type=case_study&#038;p=2557</guid>
				<description><![CDATA[Info Category : Web Development Date :25 June, 2018 Client :Oniblue Project Brief: Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by [&#8230;]]]></description>
								<content:encoded><![CDATA[		<div data-elementor-type="wp-post" data-elementor-id="2557" class="elementor elementor-2557" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
							<section class="elementor-element elementor-element-e038bdb elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="e038bdb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-65691b7 elementor-column elementor-col-50 elementor-top-column" data-id="65691b7" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e2227a9 elementor-widget elementor-widget-heading" data-id="e2227a9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Info</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-43e2369 list-group elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="43e2369" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Category :</strong> Web Development</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Date :</strong>25 June, 2018</span>
									</li>
								<li class="elementor-icon-list-item" >
										<span class="elementor-icon-list-text"><strong>Client :</strong>Oniblue</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-f93442c elementor-column elementor-col-50 elementor-top-column" data-id="f93442c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-e099d5c elementor-widget elementor-widget-image" data-id="e099d5c" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="1560" height="1207" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg" class="attachment-full size-full" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image.jpg 1560w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-300x232.jpg 300w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-768x594.jpg 768w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1024x792.jpg 1024w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-about-image-1536x1188.jpg 1536w" sizes="(max-width: 1560px) 100vw, 1560px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-563cd7e elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="563cd7e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-f34c482 elementor-column elementor-col-100 elementor-top-column" data-id="f34c482" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-cd2a5b9 elementor-widget elementor-widget-xs-doodle-parallax" data-id="cd2a5b9" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:-130px;right:initial;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-0a32aa5 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="0a32aa5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-14c8d42 elementor-column elementor-col-100 elementor-inner-column" data-id="14c8d42" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-768568d elementor-widget elementor-widget-heading" data-id="768568d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Project Brief:</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-92344d9 elementor-widget elementor-widget-text-editor" data-id="92344d9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1eb6120 elementor-widget elementor-widget-text-editor" data-id="1eb6120" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way. When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-65243d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="65243d7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-2485510 elementor-column elementor-col-33 elementor-top-column" data-id="2485510" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-6e929f5 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="6e929f5" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-acf4d0f elementor-column elementor-col-33 elementor-top-column" data-id="acf4d0f" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-5841ac5 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="5841ac5" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-7a68486 elementor-column elementor-col-33 elementor-top-column" data-id="7a68486" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c6bb3a9 elementor-icon-list--layout-traditional elementor-widget elementor-widget-icon-list" data-id="c6bb3a9" data-element_type="widget" data-widget_type="icon-list.default">
				<div class="elementor-widget-container">
					<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">The Semantics</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">A large language ocean.</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Separated they live in Bookmarksgrove</span>
									</li>
								<li class="elementor-icon-list-item" >
											<span class="elementor-icon-list-icon">
																<i class="fa fa-check" aria-hidden="true"></i>
													</span>
										<span class="elementor-icon-list-text">Right at the coast of</span>
									</li>
						</ul>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-a4ca596 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="a4ca596" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-8b8f11b elementor-column elementor-col-100 elementor-top-column" data-id="8b8f11b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-c01d9bc elementor-widget elementor-widget-divider" data-id="c01d9bc" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-73d8a78 elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="73d8a78" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-1115c02 elementor-column elementor-col-100 elementor-top-column" data-id="1115c02" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-f31c5f4 elementor-widget elementor-widget-xs-doodle-parallax" data-id="f31c5f4" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-1.png"  data-scrollax="properties: { translateY: '100%' }" class="single-doodle one" alt="doodle-1" style="top:initial;left:initial;right:-130px;bottom:1px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-5539f31 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="5539f31" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-9e16de8 elementor-column elementor-col-50 elementor-inner-column" data-id="9e16de8" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-21fb86c elementor-widget elementor-widget-xs-heading" data-id="21fb86c" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 01</h3>
                <h2 class="section-title">Gather all information</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-9bbcbc2 elementor-widget elementor-widget-text-editor" data-id="9bbcbc2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-1e2d0f2 elementor-widget elementor-widget-xs-button" data-id="1e2d0f2" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step2" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-5ce68ac elementor-column elementor-col-50 elementor-inner-column" data-id="5ce68ac" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-013e058 elementor-widget elementor-widget-image" data-id="013e058" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="402" height="341" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1.png 402w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-1-300x254.png 300w" sizes="(max-width: 402px) 100vw, 402px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-0c5b9ef elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="0c5b9ef" data-element_type="section" id="step2">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-3632ac7 elementor-column elementor-col-100 elementor-top-column" data-id="3632ac7" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-1e58072 elementor-widget elementor-widget-divider" data-id="1e58072" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-a4b806d elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="a4b806d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-39cdc3b elementor-column elementor-col-100 elementor-top-column" data-id="39cdc3b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-2e335ba elementor-widget elementor-widget-xs-doodle-parallax" data-id="2e335ba" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '40%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:-200px;right:initial;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-44f45f1 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="44f45f1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-e71f2e9 elementor-column elementor-col-50 elementor-inner-column" data-id="e71f2e9" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-7f1e1c3 elementor-widget elementor-widget-image" data-id="7f1e1c3" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-c58db79 elementor-column elementor-col-50 elementor-inner-column" data-id="c58db79" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-ef02d78 elementor-widget elementor-widget-xs-heading" data-id="ef02d78" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 02</h3>
                <h2 class="section-title">Find Solution &amp; Solve it</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-6ff2e56 elementor-widget elementor-widget-text-editor" data-id="6ff2e56" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-fd76d0f elementor-widget elementor-widget-xs-button" data-id="fd76d0f" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#step3" target="_self" class="xs-btn btn btn-secondary">
						<span ><i class="icon icon-download-arrow" aria-hidden="true"></i></span>
						<span class="xs-button-text"></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-ced22e6 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ced22e6" data-element_type="section" id="step3">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-9aad678 elementor-column elementor-col-100 elementor-top-column" data-id="9aad678" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-dfb8843 elementor-widget elementor-widget-divider" data-id="dfb8843" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-5ada52a elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="5ada52a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a37a081 elementor-column elementor-col-100 elementor-top-column" data-id="a37a081" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-f067393 elementor-widget elementor-widget-xs-doodle-parallax" data-id="f067393" data-element_type="widget" data-widget_type="xs-doodle-parallax.default">
				<div class="elementor-widget-container">
			        <div class="doodle-parallax">
                                                                                                                    <img src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/09/doodle-2.png"  data-scrollax="properties: { translateY: '-50%' }" class="single-doodle one" alt="doodle-2" style="top:initial;left:initial;right:-200px;bottom:-80px;">
                                                        </div>
        		</div>
				</div>
				<section class="elementor-element elementor-element-96cb36b elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section" data-id="96cb36b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-a5c91c0 elementor-column elementor-col-50 elementor-inner-column" data-id="a5c91c0" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-302b09c elementor-widget elementor-widget-xs-heading" data-id="302b09c" data-element_type="widget" data-widget_type="xs-heading.default">
				<div class="elementor-widget-container">
			<div class="xs-heading text-left">
            <h3 class="section-subtitle">Step 03</h3>
                <h2 class="section-title">Finally Get the Result</h2>
        </div>		</div>
				</div>
				<div class="elementor-element elementor-element-24a6d8d elementor-widget elementor-widget-text-editor" data-id="24a6d8d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-11897ad elementor-widget elementor-widget-xs-button" data-id="11897ad" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">View Details</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-e3f681c elementor-column elementor-col-50 elementor-inner-column" data-id="e3f681c" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-a37bebe elementor-widget elementor-widget-image" data-id="a37bebe" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="458" height="283" src="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png" class="attachment-large size-large" alt="" srcset="https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2.png 458w, https://oneclassmedia.bitbucket.io/wp-content/uploads/2018/08/case-study-step-2-300x185.png 300w" sizes="(max-width: 458px) 100vw, 458px" />											</div>
				</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
				<section class="elementor-element elementor-element-ad74a11 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-id="ad74a11" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
							<div class="elementor-background-overlay"></div>
							<div class="elementor-container elementor-column-gap-default">
				<div class="elementor-row">
				<div class="elementor-element elementor-element-eb3529b elementor-column elementor-col-50 elementor-top-column" data-id="eb3529b" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-68bfc35 elementor-widget elementor-widget-heading" data-id="68bfc35" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Interested To Get Our Featured Service</h2>		</div>
				</div>
						</div>
			</div>
		</div>
				<div class="elementor-element elementor-element-ed3640e elementor-column elementor-col-50 elementor-top-column" data-id="ed3640e" data-element_type="column">
			<div class="elementor-column-wrap  elementor-element-populated">
					<div class="elementor-widget-wrap">
				<div class="elementor-element elementor-element-b63f595 elementor-align-right elementor-mobile-align-center elementor-widget elementor-widget-xs-button" data-id="b63f595" data-element_type="widget" data-widget_type="xs-button.default">
				<div class="elementor-widget-container">
					<a href="#" target="_self" class="xs-btn btn btn-secondary">
							<span class="xs-button-text">Get Started Now</span>
						<span ><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
					</a>
        		</div>
				</div>
						</div>
			</div>
		</div>
						</div>
			</div>
		</section>
						</div>
			</div>
		</div>
		]]></content:encoded>
										</item>
	</channel>
</rss>
